<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			My Account
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-card>
		<ion-card-header>
		  <ion-card-title>My Profile</ion-card-title>
		</ion-card-header>
	  
		<ion-card-content>
			<ion-list lines="none">
				<ion-item lines="none">
					<ion-label mode="md" position="stacked">User ID</ion-label>
					<ion-badge color="warning">{{user_id}}</ion-badge>
				</ion-item>
				<ion-item lines="none">
					<ion-label mode="md" position="stacked">Fullname</ion-label>
					<ion-input mode="md" type="name" value="{{userFullname}}"></ion-input>
				</ion-item>

				<ion-item lines="none">
					<ion-label mode="md" position="stacked">{{"email_address" | translate}}</ion-label>
					<ion-input mode="md" type="email" value="{{email}}" readonly="true"></ion-input>
				</ion-item>

				<ion-item lines="none">
					<ion-label mode="md" position="stacked">{{"phone_number" | translate}}</ion-label>
					<ion-input mode="md" type="text" value="{{phoneno}}" readonly="true"></ion-input>
				</ion-item>

			</ion-list>
			<ion-button expand="block" (click)="openModal(1)">
				<ion-icon slot="start" name="pencil"></ion-icon>
				Edit Profile
			</ion-button>
		</ion-card-content>
	  </ion-card>
	<ion-card>
		<ion-card-header>
		  <ion-card-title>My Addresses</ion-card-title>
		</ion-card-header>
	  
		<ion-card-content>
			<ion-list lines="none">
				<ion-item>
					<div class="item_inner"> 
						<div class="text_box">
							<ion-badge color="secondary">Home</ion-badge>
							<p>
								{{home_address}}
							</p>
						</div>
					</div>
				</ion-item>
				<ion-item>
					<div class="item_inner"> 
						<div class="text_box">
							<ion-badge color="secondary">Office</ion-badge>
							<p>
								{{office_address}}
							</p>
						</div>
					</div>
				</ion-item>
				<ion-item>
					<div class="item_inner"> 
						<div class="text_box">
							<ion-badge color="secondary">Other</ion-badge>
							<p>
								{{other_address}}
							</p>
						</div>
					</div>
				</ion-item>
			</ion-list>
			<ion-button expand="block" (click)="openModal(2)">
				<ion-icon slot="start" name="pencil"></ion-icon>
				Edit Addresses
			</ion-button>
		</ion-card-content>
	  </ion-card>
</ion-content>