<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<div class="title_inner d-flex">
				<ion-searchbar mode="md" class="ion-no-padding" searchIcon="hide" placeholder="{{'search_on_shophour' | translate}}"></ion-searchbar>
				<ion-icon class="zmdi zmdi-search ion-text-start end"></ion-icon>
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<div class="resent_searches">
		<h2>{{'resent_searches' | translate}}</h2>
		<h3 class="d-flex" (click)="search_result()">
			<ion-icon class="zmdi zmdi-time-restore"></ion-icon> White Tshirt
		</h3>
		<h3 class="d-flex" (click)="search_result()">
			<ion-icon class="zmdi zmdi-time-restore"></ion-icon> Party Dress
		</h3>
		<h3 class="d-flex" (click)="search_result()">
			<ion-icon class="zmdi zmdi-time-restore"></ion-icon> iphone x phone
		</h3>
	</div>

	<div class="choose_category">
		<h2>{{'choose_category' | translate}}</h2>
		<div class="category_row">
			<div class="category fashion" (click)="item()">
				<div class="img_box center_img">
					<h2>Fashino</h2>
					<img src="assets/images/Jackets.png" class="crop_img">
				</div>
			</div>
			<div class="category phones" (click)="item()">
				<div class="img_box center_img">
					<h2>Phones</h2>
					<img src="assets/images/Phones.png" class="crop_img">
				</div>
			</div>
			<div class="category furniture" (click)="item()">
				<div class="img_box center_img">
					<h2>Furnture</h2>
					<img src="assets/images/Furniture.png" class="crop_img">
				</div>
			</div>
			<div class="category electronics" (click)="item()">
				<div class="img_box center_img">
					<h2>Beauty</h2>
					<img src="assets/images/Electronics.png" class="crop_img">
				</div>
			</div>
			<div class="category fashion" (click)="item()">
				<div class="img_box center_img">
					<h2>Fashino</h2>
					<img src="assets/images/Jackets.png" class="crop_img">
				</div>
			</div>
			<div class="category phones" (click)="item()">
				<div class="img_box center_img">
					<h2>Phones</h2>
					<img src="assets/images/Phones.png" class="crop_img">
				</div>
			</div>
			<div class="category furniture" (click)="item()">
				<div class="img_box center_img">
					<h2>Furnture</h2>
					<img src="assets/images/Furniture.png" class="crop_img">
				</div>
			</div>
			<div class="category electronics" (click)="item()">
				<div class="img_box center_img">
					<h2>Beauty</h2>
					<img src="assets/images/Electronics.png" class="crop_img">
				</div>
			</div>
			<div class="category fashion" (click)="item()">
				<div class="img_box center_img">
					<h2>Fashino</h2>
					<img src="assets/images/Jackets.png" class="crop_img">
				</div>
			</div>
			<div class="category phones" (click)="item()">
				<div class="img_box center_img">
					<h2>Phones</h2>
					<img src="assets/images/Phones.png" class="crop_img">
				</div>
			</div>
			<div class="category furniture" (click)="item()">
				<div class="img_box center_img">
					<h2>Furnture</h2>
					<img src="assets/images/Furniture.png" class="crop_img">
				</div>
			</div>
			<div class="category electronics" (click)="item()">
				<div class="img_box center_img">
					<h2>Beauty</h2>
					<img src="assets/images/Electronics.png" class="crop_img">
				</div>
			</div>
			<div class="category fashion" (click)="item()">
				<div class="img_box center_img">
					<h2>Fashino</h2>
					<img src="assets/images/Jackets.png" class="crop_img">
				</div>
			</div>
			<div class="category phones" (click)="item()">
				<div class="img_box center_img">
					<h2>Phones</h2>
					<img src="assets/images/Phones.png" class="crop_img">
				</div>
			</div>
			<div class="category furniture" (click)="item()">
				<div class="img_box center_img">
					<h2>Furnture</h2>
					<img src="assets/images/Furniture.png" class="crop_img">
				</div>
			</div>
			<div class="category electronics" (click)="item()">
				<div class="img_box center_img">
					<h2>Beauty</h2>
					<img src="assets/images/Electronics.png" class="crop_img">
				</div>
			</div>
			<div class="category fashion" (click)="item()">
				<div class="img_box center_img">
					<h2>Fashino</h2>
					<img src="assets/images/Jackets.png" class="crop_img">
				</div>
			</div>
			<div class="category phones" (click)="item()">
				<div class="img_box center_img">
					<h2>Phones</h2>
					<img src="assets/images/Phones.png" class="crop_img">
				</div>
			</div>
			<div class="category furniture" (click)="item()">
				<div class="img_box center_img">
					<h2>Furnture</h2>
					<img src="assets/images/Furniture.png" class="crop_img">
				</div>
			</div>
			<div class="category electronics" (click)="item()">
				<div class="img_box center_img">
					<h2>Beauty</h2>
					<img src="assets/images/Electronics.png" class="crop_img">
				</div>
			</div>
		</div>
	</div>

</ion-content>